.label_container {
    position: absolute;
    bottom: 90px;
    right: 0;
}

.label_content {
    display: flex;
    align-items: center;
    background-color: #0d0d0d;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    height: 40px;
    padding: 0px 50px;
}